//Copyright (C)2014-2021 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.8 Beta
//Part Number: GW1N-LV9LQ100C6/I5
//Device: GW1N-9
//Created Time: Thu 07 22 16:02:56 2021

IO_LOC "pixOn" 6;
IO_PORT "pixOn" PULL_MODE=UP DRIVE=8;
IO_LOC "yCoord[11]" 80;
IO_PORT "yCoord[11]" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "yCoord[10]" 89;
IO_PORT "yCoord[10]" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "yCoord[9]" 83;
IO_PORT "yCoord[9]" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "yCoord[8]" 85;
IO_PORT "yCoord[8]" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "yCoord[7]" 78;
IO_PORT "yCoord[7]" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "yCoord[6]" 72;
IO_PORT "yCoord[6]" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "yCoord[5]" 69;
IO_PORT "yCoord[5]" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "yCoord[4]" 50;
IO_PORT "yCoord[4]" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "yCoord[3]" 57;
IO_PORT "yCoord[3]" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "yCoord[2]" 55;
IO_PORT "yCoord[2]" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "yCoord[1]" 48;
IO_PORT "yCoord[1]" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "yCoord[0]" 40;
IO_PORT "yCoord[0]" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "xCoord[11]" 34;
IO_PORT "xCoord[11]" PULL_MODE=UP;
IO_LOC "xCoord[10]" 20;
IO_PORT "xCoord[10]" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "xCoord[9]" 23;
IO_PORT "xCoord[9]" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "xCoord[8]" 94;
IO_PORT "xCoord[8]" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "xCoord[7]" 99;
IO_PORT "xCoord[7]" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "xCoord[6]" 92;
IO_PORT "xCoord[6]" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "xCoord[5]" 7;
IO_PORT "xCoord[5]" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "xCoord[4]" 97;
IO_PORT "xCoord[4]" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "xCoord[2]" 27;
IO_PORT "xCoord[2]" PULL_MODE=UP;
IO_LOC "xCoord[1]" 29;
IO_PORT "xCoord[1]" PULL_MODE=UP;
IO_LOC "xCoord[0]" 36;
IO_PORT "xCoord[0]" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "clk" 17;
IO_PORT "clk" PULL_MODE=UP BANK_VCCIO=1.8;
